/*** PAGE GENERALE ***/
    html, body {
        width: 100%;
        height: 100%;
        min-width: 1300px;
        margin: 0;
        padding: 0;
    }
    .container-left {
        display: inline-block;
        width: 50%;
        float: left;
    }
    .container-right {
        display: inline-block;
        float: left;
    }
/*** CONNEXION ***/
    #connection {
        width: 10%;
        margin: 0 auto;
        font-family: 'Roboto', sans-serif;
        margin-top: 50vh;
        transform: translateY(-50%);
    }
    #connection-form {

    }
    #connection-form label {
        font-size: 14pt;
        font-weight: bold;
        margin-right: 15px;
    }
    #connection-form input {
        height: 25px;
        border: solid black 1px;
        border-radius: 5px;
        padding: 5px;
    }
    #spacer {
        height: 5px;
    }
    #btn-align {
        margin-top: 5px;
    }
    .btn {
      background: #3498db;
      background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
      background-image: -moz-linear-gradient(top, #3498db, #2980b9);
      background-image: -ms-linear-gradient(top, #3498db, #2980b9);
      background-image: -o-linear-gradient(top, #3498db, #2980b9);
      background-image: linear-gradient(to bottom, #3498db, #2980b9);
      -webkit-border-radius: 5;
      -moz-border-radius: 5;
      border-radius: 5px;
      font-family: Arial;
      color: #ffffff;
      font-size: 20px;
      padding: 10px 20px 10px 20px;
      text-decoration: none;
      font-family: 'Roboto', sans-serif;
    }

    .btn:hover {
      background: #3cb0fd;
      background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
      background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
      text-decoration: none;
      font-family: 'Roboto', sans-serif;
      cursor: pointer;
    }
	.connect-error {
		color: red;
		text-align: center;
	}

/*** PLATEAU ***/
    #game {
        display: default;
    }
    #game > div.container-right{
        width: 45%;
    }
    #game-title {
        font-family: 'Spirax', cursive;
        font-size: 30pt;
        padding-left: 20px;
    }
    #turn-time {
        width: 100%;
        padding: 20px 0px 0px 400px;
        font-family: 'Roboto', sans-serif;
        font-size: 16pt;
    }
    #turn-time #time-label {
        font-size: 14pt;
    }
    #turn-time #time {
        font-weight: bold;
        font-size: 14pt;
    }
    #board {
        width: 800px;
        height: 100%;
        font-family: 'Spirax', cursive;
        font-size: 16pt;
        padding: 5px 20px 20px 20px;
    }
        .row {
        width: 100%;
        line-height: 30px;
    }
    .cell {
        display: inline-block;
        width: 30px;
        height: 30px;
        background: url("../ressources/cross.png") no-repeat center;
        vertical-align: top;
    }
    .cell-header {
        display: inline-block;
        text-align: center;
        width: 30px;
        height: 30px;
        vertical-align: top;
        background: lightgrey;
        border-radius: 30px;
    }
    .hidden-cell {
        visibility: hidden;
    }
/*** DETAILS DE LA PARTIE ***/
    #details-title {
        font-family: 'Roboto', sans-serif;
        font-size: 30pt;
        padding-bottom: 75px;
    }
    #details {
        font-family: 'Roboto', sans-serif;
    }
    .details-section {
        font-size: 14pt;
    }
    .player-section:first-of-type {
        margin-bottom: 30px;
    }
    .fieldset-details {
        margin-bottom: 10px;
        background-color: #CCC
    }
    .legend-details {
        border: solid grey 1px;
        border-radius: 5px;
        background-color: white;
        font-weight: bold;
        font-size: 18pt;
    }
    .details-line {
        display:inline-block;
        width: 100%;
    }
    .labels {
        display: inline-block;
        color: #333;
    }
    .values {
        display: inline-block;
    }